header {
    margin-top: 30px;
    margin-left: 20px;
}

header .grid-containerH {
    display: grid;
    grid-row-gap: 10px;
    grid-template-columns: auto auto;
    grid-template-areas: "logo buscador";
    align-items: flex-end;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
    margin-left: 20px;
}

header .grid-containerH .logo__header {
    grid-area: logo;
}

header .grid-containerH .buscador__header {
    grid-area: buscador;
}

header .container-fluid {
    width: 100%;
    background-color: rgb(255, 255, 255);
    border-color: rgb(5, 171, 185);
    border-style: solid;
    border-width: 1px;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 0px 20%;
}

nav a {
    color: #313131;
    padding: 14px 20px;
    font-style: normal;
    font-family: "Poppins", sans-serif;
    letter-spacing: 1px;
    font-size: 13px;
    text-decoration: none;
}

nav a:hover {
    color: #05abb9;
}

nav .navbar navbar-light bg-light {
    width: 40%;
}

body .encabezadoserv {
    width: 100%;
    height: 348px;
    margin-top: 10px;
    margin-bottom: 30px;
}

body .encabezadoserv .animate__animated {
    font-style: normal;
    font-family: "Poppins", sans-serif;
    letter-spacing: 15px;
    font-size: 50px;
    font-weight: 300;
    color: white;
    text-align-last: center;
    padding-top: 200px;
    background-color: none;
}

body .bajada {
    font-style: normal;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 20px;
    text-align-last: center;
    color: white;
}

body .tituloTerciario {
    color: #05abb9;
    font-style: normal;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    text-align: center;
    font-size: 20px;
    padding: 20px;
}

body h5 {
    font-style: normal;
    font-family: 'Lato', sans-serif;
    font-weight: normal;
    color: rgb(0, 0, 0);
    font-size: 13px;
    letter-spacing: 1PX;
    text-align-last: center;
    padding-top: 0px;
    padding-bottom: 30px;
}

body p {
    font-style: normal;
    font-family: "Roboto", sans-serif;
    color: #5c5c5c;
    font-size: 13px;
    text-align:left;
    line-height: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
}

body .descripción__N {
    font-style: normal;
    font-family: "Roboto", sans-serif;
    color: #5c5c5c;
    font-size: 13px;
    text-align:center;
    line-height: 20px;
    margin-right: 20px;
    margin-bottom: 40px;
    margin-left: 20px;
}

body .descripción__R{
    font-style: normal;
    font-family: "Roboto", sans-serif;
    color: #5c5c5c;
    font-size: 13px;
    text-align:left;
    line-height: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
}

body .borde-turquesa {
    border: 1px solid #05abb9;
    width: 100%;
    height: 40px;
}

body .letra-turquesa {
    font-size: 15px;
    font-style: normal;
    font-family: "Roboto", sans-serif;
    color: #05abb9;
}

body label {
    border-color: #05abb9;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
}

body .labelcomentario {
    height: 225px;
}

body .btn__contacto {
    background-color: #05abb9;
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    color: white;
    border-radius: 25px;
}

body iframe {
    padding: 20px;
}

.imagenProducto {
    margin-top: 30px;
    margin-bottom: 20px;
}

body .boton__P {
    background-color: white;
    border-color: #05abb9;
    border-style: solid;
    border-width: 1px;
    justify-content: center;
    border-radius: 25px;
    margin-top: 0px;
    margin-bottom: 30px;
}

.boton__P a {
    text-decoration: none;
    font-style: normal;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    color: #05abb9;
}

.boton__P:hover {
    background-color: #05abb9;
    font-style: normal;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    color: #ffffff;
}

.boton__P a:hover {
    background-color: #05abb9;
    color: #ffffff;
}

.prod__ali {
    font-style: normal;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    color: #424242;
    font-size: 18px;
    text-align-last: center;
    margin-top: 30px;
    margin-bottom: 10px;
}

.grid-container {
	display: grid;
	grid-row-gap: 10px;
	grid-template-columns: 600px auto;
	grid-template-areas: 'imagen__N tituloTerciario__N'
		'imagen__N descripción__N';
	grid-template-rows: auto auto;
	border-bottom: 1px;
	border-color: rgb(5, 171, 185);
	margin-top: 20px;
	margin-bottom: 20px;
}

.grid-container div {
	background-color: rgb(255, 255, 255);
}

.imagen__N {
	grid-area: imagen__N;
}

.tituloTerciario {
	grid-area: tituloTerciario__N;
}

.descripción__N {
    grid-area: descripción__N;
}

.imagen__N {
    margin-left: 30px;
    margin-bottom: 20px;
}

.tituloTerciario__novedades {
    color: #000000;
    font-style: normal;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    text-align: left;
    font-size: 18px;
    margin-left: 20px;
}

.descripción__N {
    font-style: normal;
    font-family: "Roboto", sans-serif;
    color: #5c5c5c;
    font-size: 13px;
    text-align: left;
    margin-top: 10px;
    margin-right: 20px;
    margin-bottom: 80px;
    margin-left: 20px;
}

.grid-container__N {
	display: grid;
	grid-row-gap: 10px;
	grid-template-columns: 600px auto;
	grid-template-areas: 'imagen__novedades tituloTerciario__novedades'
		'imagen__novedades descripción__novedades';
	grid-template-rows: auto auto;
	border-bottom: 1px;
	border-color: rgb(5, 171, 185);
	margin-top: 20px;
	margin-bottom: 20px;
}

.grid-container div {
	background-color: rgb(255, 255, 255);
}

.imagen__novedades {
	grid-area: imagen__novedades;
}

.tituloTerciario__novedades {
	grid-area: tituloTerciario__novedades;
}

.descripción__novedades {
    grid-area: descripción__novedades;
}

.imagen__novedades {
    margin-left: 30px;
    margin-bottom: 20px;
}

.grid-container {
	display: grid;
	grid-row-gap: 10px;
	grid-template-columns: 600px auto;
	grid-template-areas: 'imagen__Q descripción__N'
		'video__N descripción__N';
	grid-template-rows: auto auto;
	border-bottom: 1px;
	border-color: rgb(5, 171, 185);
	margin-top: 20px;
	margin-bottom: 20px;
}

.grid-container div {
	background-color: rgb(255, 255, 255);
}

.imagen__Q {
	grid-area: imagen__Q;
}

.tituloTerciario {
	grid-area: tituloTerciario__N;
}

.descripción__N {
    grid-area: descripción__N;
}

.video__N {
    grid-area: video__N;
}

.imagen__Q {
    margin-left: 30px;
    margin-bottom: 20px;
    margin-top: 15px;
}

li {
    margin-left: 20px;
}


.destacado {
    color: #05abb9;
    font-style: normal;
    font-family: "Roboto", sans-serif;
    font-weight:normal;
    line-height: 200%;
    text-align: left;
    font-size: 15px;
    margin-bottom: 0px;
    }

.boton__N {
    background-color: rgb(255, 255, 255);
    border-color: #05abb9;
    border-style: solid;
    border-width: 1px;
    justify-content: center;
    border-radius: 25px;
    margin-top: 60px;
    margin-left: 20px;
       
}

.boton__N a {
    text-decoration: none;
    font-style: normal;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    color: #05abb9;
}

.boton__N:hover {
    background-color: #05abb9;
    font-style: normal;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    color: #ffffff;
}

.boton__N a:hover {
    background-color: #05abb9;
    color: #ffffff;
}

.titulo__N {
    font-style: normal;
    font-family: "Poppins", sans-serif;
    letter-spacing: 10px;
    font-size: 35px;
    font-weight: 300;
    color: white;
    text-align-last: center;
    padding-top: 150px;
    background-color: none;
}

.precios {
    color: #05abb9;
    font-style: normal;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    text-align: center;
    font-size: 30px;
    margin-top: 0px;
}

hr {
    height: 1px;
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 15px;
    background-color: rgb(156, 156, 156);
}

.card__icon {
    background-color: none;
    color: #05abb9;
    margin-bottom: 10px;

}

.separadores {
    height: 1.5px;
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 30px;
    background-color: #05abb9;
}

.separadores__N {
    height: 1.5px;
    margin-top: 0px;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 30px;
    background-color: #05abb9;
}

.separador__texto {
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 50px;
}

.tn__vinculo {
    margin-bottom: 20px;
}

.producto__texto {
    font-style: normal;
    font-family: "Roboto", sans-serif;
    color: #5c5c5c;
    font-size: 15px;
    text-align: center;
}

.texto__tiendanube {
    font-style: normal;
    font-family: "Roboto", sans-serif;
    color: #5c5c5c;
    font-size: 15px;
    text-align: center;
    line-height: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
}

body footer {
    padding: 20px;
    margin: 0px;
    background-color: #05abb9;
    background: linear-gradient(to top, #05abb9 35%, #0b8c94 100%);
}

body footer .footer__icon {
    background-color: none;
    color: white;
    margin: 10px;
    display: inline-block;
}

body footer .footer__texto {
    margin: 0px;
    color: white;
    font-style: normal;
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    text-align-last: center;
}


@media (max-width: 990px){
    nav,.imagen__N, .imagen__novedades, .encabezadoserv, .animate__animated, .bajada, 
	.row {
		flex-direction: column;
	}

    .grid-container__N {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
    }

    .tituloTerciario__novedades {
        flex-basis: 80%;
    }

    .descripción__novedades {
        flex-basis: 20%;
    }
}
